@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --text-primary-color: #212121;
  --text-secondary-color: #757575;
  --skyblue-color: #2196f3;
  --background-bodycolor: #f5f4fa;
  --background-headerfooter-color: #2f303a;
  --color-white-100: #fff;
  --primary-fontFamily: 'Roboto', sans-serif;
  --secondary-fontFamily: 'Raleway', sans-serif;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--primary-fontFamily);
  color: var(--secondary-fontFamily);
  font-size: 1.6rem;
  margin: 0;
}

.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 9.4rem 0 9.4rem 0;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

header {
  padding: 1.4805rem 0rem;
}
.header li a {
  text-decoration: none;
}

.skyblue-color {
  color: var(--skyblue-color);
}

.logo {
  text-decoration: none;
  font-family: var(--secondary-fontFamily);
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--skyblue-color);
  display: block;
  margin: 0 9.3rem 0 0;
  padding: 0rem;
}

.navbar {
  margin-right: 31.4rem;
}

.item-navbar {
  position: relative;
  color: var(--text-primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 3rem;
}

.item-navbar:focus,
.logo:focus {
  color: var(--skyblue-color);
  outline: none;
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.4rem;
  background-color: var(--skyblue-color);
  top: 4.38rem;
  left: 0rem;
  border-radius: 0.2rem;
}

.current {
  color: var(--skyblue-color);
}

.tel,
.email {
  color: var(--text-secondary-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 5rem;
}

.header-icon-email-tel a:nth-child(2) {
  margin-left: 1rem;
}

.header-icon-email-tel:hover,
.header-icon-email-tel:focus {
  fill: var(--skyblue-color);
  outline: none;
}

.tel.item-navbar,
.item-navbar.contact {
  margin-right: 0rem;
}

.header a {
  transition: color 0.25s var(--cubic-bezier);
}

.header a:hover {
  color: var(--skyblue-color);
}

.main-line {
  border-top: 0.1rem solid #ececec;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-navbar {
  margin-right: 5rem;
}

.solution {
  max-width: 160rem;
  margin: 0 auto;
}

section.solution {
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/img-hero-min-1.png);
  background-size: 100%, 160rem;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.solution {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solution {
  background-color: var(--background-headerfooter-color);
  padding: 20rem 0rem;
}

.solution h1 {
  font-size: 4.4rem;
  color: var(--color-white-100);
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  width: 43.5%;
}

.solution button {
  color: var(--color-white-100);
  background-color: var(--skyblue-color);
  font-size: 1.6rem;
  width: 26.1rem;
  display: block;
  margin: 3rem auto 0 auto;
  border: none;
  border-radius: 0.4rem;
  padding: 1.7rem 3.2rem;
  line-height: 1;
  transition: background-color 0.25s var(--cubic-bezier);
}

.solution button:hover {
  background-color: rgb(35, 134, 214);
  transform: scale(1.01);
}

.solution {
  display: flex;
  justify-content: center;
}

.legend .title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.legend .title-two {
  color: var(--text-primary-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.legend p {
  color: var(--text-secondary-color);
  font-size: 1.4rem;
  line-height: 1.72;
  letter-spacing: 0.03em;
}

.legend-item {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.legend-item li {
  flex-basis: calc(22.5%);
}

.legend li a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 2.5rem 0;
  background: rgba(245, 244, 250, 1);
  margin-bottom: 3rem;
}

.legend a {
  margin: 0 auto;
}
.works {
  padding-top: 0rem;
}

.works h2,
.regular-customers h2 {
  color: var(--text-primary-color);
  font-weight: 700;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 5.5rem 0;
}

.our-works-img {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.our-works-card {
  position: relative;
}
.our-works-card .our-works-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-works-card .our-works-card-text {
  position: absolute;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-white-100);
  background-color: rgba(47, 48, 58, 0.8);
  width: 36.9rem;
  height: 7rem;
  top: 22.4rem;
  margin: 0rem;
}

.teams {
  background-color: var(--background-bodycolor);
}

.team h2 {
  color: var(--text-primary-color);
  font-weight: 700;
  line-height: 1.166;
  letter-spacing: 0.03em;
  padding-bottom: 5rem;
  text-align: center;
}

.teams-cards {
  display: flex;
  justify-content: space-evenly;
}

.teams-cards > li {
  flex-basis: calc(22.5%);
  text-align: center;
  background-color: var(--color-white-100);
  padding-bottom: 3rem;
  border-radius: 0 0 0.4rem 0.4rem;
}

.teams-cards > li {
  box-shadow: 0rem 0.2rem 0.1rem rgba(0, 0, 0, 0.4);
}

.teams-cards > li:hover {
  /*transform: translateY(-3%);*/
  box-shadow: 0rem 0.35rem 1.5rem rgba(0, 0, 0, 0.2);
}

.team h4 {
  font-weight: 500;
  line-height: 1.187;
  letter-spacing: 0.03em;
  padding-top: 3rem;
}

.teams p {
  color: var(--text-secondary-color);
  font-weight: 400;
  line-height: 1.187;
  letter-spacing: 0.03em;
  padding: 1rem 0 1.6rem 0;
  margin: 0;
}

.global-address ul {
  padding: 0rem;
  margin: 0rem;
}

.address-contact {
  background-color: var(--background-headerfooter-color);
  padding-bottom: 6rem;
}

.address-container,
.icons-footer {
  width: 17.3%;
  margin: 6rem 9.3rem 0 0;
}

.address-contact .logo {
  margin-bottom: 0.587rem;
}

.address-contact a {
  display: block;
  text-decoration: none;
  padding-bottom: 0rem;
  transition: color 0.25s var(--cubic-bezier);
}

.address-contact a:hover {
  color: var(--skyblue-color);
}

.address {
  color: var(--color-white-100);
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.email-footer,
.tel-footer {
  color: var(--text-secondary-color);
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.btn-filter {
  background-color: var(--background-bodycolor);
  color: var(--text-primary-color);
  font-family: var(--primary-fontFamily);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.8rem;
  transition: background 0.25s var(--cubic-bezier), box-shadow 0.25s var(--cubic-bezier);
}

.btn-filter:nth-child(1) {
  padding: 0.6rem 1.75rem;
}

.btn-filter:nth-child(2) {
  padding: 0.6rem 2.4rem;
}

.btn-filter:nth-child(3) {
  padding: 0.6rem 2.35rem;
}

.btn-filter:nth-child(4) {
  padding: 0.6rem 2.55rem;
}

.btn-filter:nth-child(5) {
  padding: 0.6rem 2.35rem;
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--color-white-100);
  background: var(--skyblue-color);
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.12);
  outline: none;
  cursor: pointer;
}

.botons {
  display: flex;
  justify-content: center;
}

.section-btn {
  padding: 9.4rem 0 0 0;
}

.section-card {
  padding: 5rem 0 9.4rem 0;
}

.section-card ul {
  margin: 0;
}

.card h4 {
  color: var(--text-primary-color);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card p {
  color: var(--text-secondary-color);
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.card-products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}

.card-products .card-product {
  flex-basis: calc(30.83333333%);
  background-color: var(--color-white-100);
  position: relative;
}

.card-product {
  border: 0.1rem solid #eeeeee;
}

.card-blue-transition {
  flex-basis: calc(30.83333333%);
  position: relative;
  overflow: hidden;
}

.card-blue-transition .text-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6.3rem 2.3rem;
  background: rgba(33, 150, 243, 0.9);
  color: var(--color-white-100);
  font-weight: none;
  font-size: 1.8rem;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transition: transform 0.25s var(--cubic-bezier);
}

.card-product:hover .text-modal {
  cursor: pointer;
  transform: translateY(-100%);
}

.card-products li:hover {
  /*transform: translateY(-3%);*/
  box-shadow: 0rem 0.35rem 1.5rem rgba(0, 0, 0, 0.2);
}

.card-product h4 {
  padding: 2rem 0 0 2.4rem;
}

.card-product p {
  padding: 0.4rem 0 1rem 2.4rem;
  margin: 0;
}

.team-card {
  display: flex;
  flex-direction: column;
}

.icons-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  margin-top: 2rem;
}

.icons-list li a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-list li a {
  border-radius: 5rem;
  height: 4.4rem;
  width: 4.4rem;
  transition: background 0.25s var(--cubic-bezier);
}

.icons-list li a:hover {
  background: var(--skyblue-color);
}
.icons-list li a:focus,
.icons-list li a:focus .icon {
  fill: white;
  background: var(--skyblue-color);
  outline: none;
}

.icon {
  transition: fill 0.25s var(--cubic-bezier);
  fill: #afb1b8;
}

.icons-list li a:hover .icon {
  fill: #fff;
}

.address-contact .container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.find-in {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: var(--color-white-100);
  margin: 0;
  text-transform: uppercase;
}

.icons-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 6.2rem 9.3rem 0 0;
  height: auto;
  display: block;
}

.icons-footer .find-in {
  margin-top: 0rem;
}

.icons-footer .icons-list {
  padding: 0;
}

.icons-footer .icons-list li a {
  background-color: rgba(255, 255, 255, 0.1);
}

.icons-footer .icons-list .icon {
  fill: #fff;
}

.icons-footer .icons-list li a:hover,
.icons-footer .icons-list li a:focus {
  background: var(--skyblue-color);
  outline: none;
}

.form-footer {
  display: flex;
  flex-direction: column;
  margin-top: 7.5rem;
  padding-bottom: 1.8rem;
}

.form-footer input[type='text'] {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1.5rem 1.6rem;
  background: rgba(47, 48, 58, 1);

  font-size: 1.6re;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--color-white-100);
  margin-top: 2rem;
  transition: border 0.25s var(--cubic-bezier);
}

.form-footer input[type='text']:hover {
  border: 1px solid var(--skyblue-color);
}

.form-footer button[type='submit'] {
  display: inline-block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 0;
  transition: background-color 0.25s var(--cubic-bezier);

  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--skyblue-color);
  margin-left: 1.2rem;
  border: none;
  outline: none;
  color: var(--color-white-100);
}

.btn-footer:hover {
  background-color: rgb(35, 134, 214);
  transform: scale(1.03);
}

.icon-modal-enviar {
  margin-left: 2rem;
}

.list-customers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-bottom: 8.2rem;
}

.list-customers li {
  padding: 1.09rem 3.2rem;
  fill: #afb1b8;
  border: 0.1rem solid #afb1b8;
  border-radius: 0.4rem;
  transition: border 0.25s var(--cubic-bezier);
}
.list-customers li:hover,
.list-customers li:focus {
  fill: var(--skyblue-color);
  border: 1px solid var(--skyblue-color);
  outline: none;
}
.list-customers li:hover .icon,
.list-customers li:focus .icon {
  fill: var(--skyblue-color);
  outline: none;
}

.list-customers .icon {
  transition: fill 0.25s var(--cubic-bezier);
}

.list-customers .icon:hover,
.list-customers .icon:focus {
  fill: var(--skyblue-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 52.8rem;
  height: 58.1rem;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 4rem;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: 0;
}
.close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-modal {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  padding: 0.9rem 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 1.5%;
  top: 1.5%;
  transition: fill 0.25s var(--cubic-bezier);
}

.close-modal:hover {
  background-color: #fff;
  fill: var(--skyblue-color);
}

.form-modal .label-modal {
  display: block;
}

.form-modal .label-modal {
  font-size: 1.2rem;
  line-height: 1.166;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 1);
}

.modal h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 1.2rem;
}

.input-modal,
.textarea-modal {
  display: inline-block;
}

.container-input {
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 0.4rem;
  margin-top: 0.4rem;
  outline: none;
}

.container-input {
  display: flex;
  align-items: center;
}

.container-input .icon-modal {
  margin: 0rem 1.2rem;
}

.container-input-textarea textarea {
  resize: none;
}

.container-input:hover,
.container-input:focus,
.container-input:focus-within,
.container-input-textarea:hover textarea,
.container-input-textarea:focus textarea,
.container-input-textarea:focus-within textarea {
  border: none;
  border: 1px solid var(--skyblue-color);
  border-radius: 0.4rem;
  fill: var(--skyblue-color);
  cursor: pointer;
  outline: none;
}

.input-modal {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  padding: 0;
  border: none;
  outline: none;
}
.container-input-textarea {
  width: 100%;
  height: 12rem;
  border: none;
  margin: 0.4rem 0rem 2rem 0rem;
  outline: none;
}

.textarea-modal {
  width: 100%;
  height: 12rem;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 0.4rem;
  padding: 1.6rem;
  outline: none;
  font-size: 1.2rem;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
}

.c {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 0px !important;
  width: 0px !important;
}

.modal-form-checkbox-label::before {
  content: '';
  display: block;
  width: 20px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 9px;
  margin-bottom: 20px;
  position: relative;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/accepted3-min.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-color: #2196f3;
  background-color: #2196f3;
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-modal .send {
  background: rgba(33, 150, 243, 1);
  color: var(--color-white-100);
  flex: 1;
  padding: 0.98rem 7.5rem;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 0.25s var(--cubic-bezier);
  margin-bottom: 30px;
}

.form-modal .send:hover {
  background-color: rgb(35, 134, 214);
  transform: scale(1.01);
}

.div-send {
  margin: 0.4rem 12.4rem 0.1rem 12.4rem;
}
